<nav class="column--first">
    <div class="menu-mobile">
        <span class="icon icon_menu"></span>
        <span>Menu</span>
    </div>
    <ul> 
        <li><a class="{{home}}" href ="/" >Home</a ></li >
        <li ><a class="{{whoiam}}" href ="amalia-cardo-sarta-modellista-stilista.html" >Mi presento</a ></li >
        <li ><a class="{{what}}" href ="cosa-faccio-amalia-cardo-modellista-stilista-sarta.html" >Cosa faccio</a ></li >
        <li><a class="{{mywork}}" href ="lavori-amalia-cardo.html" >I miei lavori</a ></li >
        <li ><a class="{{contact}}" href ="contatta-amalia-cardo-modellista-stilista-sarta.html" >Contattami</a ></li >
    </ul >
</nav>