<nav class="column--first">
    <div class="menu-mobile">
        <span class="icon icon_menu"></span>
        <span>Menu</span>
    </div>
    <ul> 
        <li><a title="Amalia Cardo Stilista, sarta e modellista a Firenze" class="{{home}}" href ="/" >Home</a ></li >
        <li><a title="Presentazione di Amalia Cardo" class="{{whoiam}}" href ="amalia-cardo-sarta-modellista-stilista.html" >Mi presento</a ></li >
        <li><a title="Amalia Cardo stilista, modellista e sarta" class="{{what}}" href ="cosa-faccio-amalia-cardo-modellista-stilista-sarta.html" >Cosa faccio</a ></li >
        <li><a title="Lavori di abbigliamento e oggettistica artigianale per adulti e bambini" class="{{mywork}}" href ="lavori-amalia-cardo.html" >I miei lavori</a ></li >
        <li><a title="Contatta Amalia Cardo Stilista, modellista e sarta" class="{{contact}}" href ="contatta-amalia-cardo-modellista-stilista-sarta.html" >Contattami</a ></li >
    </ul >
</nav>