---
key: index
title: Amalia Cardo
description: Amalia Cardo Sarta, modellista, stilista Firenze.
link: home
home: active
---

<div class="logo--version--two">
	<img class="logo" src="/images/logo.png" alt="logo Amalia Cardo"/>
</div>
<div class="content">
	<div class="content--wrapper">
		<nav class="column--first">
			<div class="menu-mobile">
				<span class="icon icon_menu"></span>
				<span>Menu</span>
			</div>
			<ul> 
				<li><a class="{{home}}" href ="/" >Home</a ></li >
				<li ><a class="{{whoiam}}" href ="amalia-cardo-sarta-modellista-stilista.html" >Mi presento</a ></li >
				<li ><a class="{{what}}" href ="cosa-faccio-amalia-cardo-modellista-stilista-sarta.html" >Cosa faccio</a ></li >
				<li><a class="{{mywork}}" href ="lavori-amalia-cardo.html" >I miei lavori</a ></li >
				<li ><a class="{{contact}}" href ="contatta-amalia-cardo-modellista-stilista-sarta.html" >Contattami</a ></li >
			</ul >
		</nav>
		<img class="logo" src="/images/logo.png" alt="logo Amalia cardo" />
	</div>
	<div class="images column--second">
		<img class="logo" src="/images/logo.png" alt="Logo Amalia Cardo"/>
		<img class="site-bg" src="/images/bg_site_x2.webp" alt="sfondo Amalia Cardo"/>
	</div>
	<div class="column--third">
		<div class="quote quote--big">
			<p class="quote__text">La moda, parte della statistica,<br /> non è elegante come la matematica. Si prende in prestito la regolarità per formalizzare il caos.</p>
			<br>
			<span class="quote__signature">Amalia Cardo</span>
		</div>
	</div>
</div>

{{> categories}}

<script src="/js/index.min.js" async deferred></script>