<div class="column--third">
	<div class="breadcrumb">
        <a href="/lavori-amalia-cardo.html">lavori</a>&nbsp;&nbsp;<span class="space ">>></span>&nbsp;&nbsp;<a href="/{{category.slug}}.html">{{category.category_name}}</a>&nbsp;&nbsp;<span class="space ">>></span>&nbsp;&nbsp;<span>{{title}}</span>
    </div>

    <div itemscope itemtype="http://schema.org/Product">

        <h1 itemprop="name">{{title}}</h1>
        <div class="description">{{description}}</div>

        <div class="thumb-list">
        {{#each images}}
            <a href="/images/work/{{this.uri}}_x2.jpg" title="{{this.alt}}">
                <img src="/images/work/{{this.uri}}_thumb.jpg" alt="{{this.alt}}" itemprop="image"/>
            </a>
        {{/each}}
        </div>

    </div>

</div>

<script src="js/product.min.js"></script>
