{{#if resources.categories}}
{{#each resources.categories}}
    <section id="{{this.slug}}" class="category-container">
        <h3>{{this.title}}</h3>
        <div>{{{this.text}}}</div>
        <ul>
        {{#each (limit this.products 3) }}
            {{#each (limit this.images 1) }}
                <li>
                    <a href="/{{../this.slug}}.html" title={{../this.description}}>
                        <img loading="lazy" alt="{{this.alt}}" src="https://www.amaliacardo.it/images/work/{{this.uri}}_thumb.jpg" />
                        <div class="overlay">
                            <span class="background"></span>
                            <span class="text">{{../this.title}}</span>
                        </div>
                    </a>
                </li>
            {{/each}}
        {{/each}}
         <li class="category-container__link">
             <a href="/{{this.slug}}.html">
                <span class="other-product">Altri prodotti nella categoria</span>
                <span>{{this.category_name}}</span>
                <i class="icon icon_{{this.icon}}"></i>
            </a>
         </li>
     </ul>
    </section>
{{/each}}
{{/if}}
