<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="google-site-verification" content="" />
<title>{{meta.title}}</title>
<meta name="description" content="{{meta.description}}">
<meta name="keywords" content="{{meta.keywords}}">

<meta property="og:title" content="{{meta.title}}" />
<meta property="og:description" content="{{meta.description}}" />
<meta property="og:locale" content="it_IT" />
<meta property="og:image" content="{{pageImage}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.studiodentisticogiorgini.it/{{slug}}.html" />

<meta property="twitter:text:title" content="{{meta.title}}">
<meta property="twitter:card" content="app" />
<meta property="twitter:title" content="{{meta.title}}" />
<meta property="twitter:description" content="{{meta.description}}" />
<meta property="twitter:image" content="{{pageImage}}" />

<meta name="robots" content="index,follow">
<meta name="language" content="it">
<meta name="author" content="Antonio D'Alessio">
<meta name="designer" content="Antonio D'Alessio">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<link rel="apple-touch-icon" href="favicon.ico">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Halant:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/{{key}}.css" async>
<link rel="shortcut icon" href="favicon.ico">
<link rel="icon" href="favicon.ico" type="image/x-icon">

{{#if (eq template "index")}}
<link rel="canonical" href="https://www.studiodentisticogiorgini.it" />
{{/if}}

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Giorgini",
 "url" : "https://www.studiodentisticogiorgini.it",
 "sameAs" : [
   "https://www.facebook.com/studiodentisticogiorgini",
   "https://www.instagram.com/stefanogiorgini_dds/"
   ],
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Via Aretina",
    "addressRegion": "toscana",
    "postalCode": "50135",
    "addressCountry": "italy",
	"addressLocality": "Firenze"
  }
}
</script>
