<!doctype html>
<html class="no-js" lang="it">
    <head>
        {{> head }}
    </head>
    <body>
        <div class="logo--version--two">
		    <img class="logo" src="/images/logo.png" alt="logo Amalia Cardo"/>
	    </div>
        <div class="content">
            <div class="content--wrapper">
                <nav class="column--first">
                    <div class="menu-mobile">
                        <span class="icon icon_menu"></span>
                        <span>Menu</span>
                    </div>
                    <ul> 
        			    <li><a class="{{home}}" href ="/" >Home</a ></li >
                        <li ><a class="{{whoiam}}" href ="amalia-cardo-sarta-modellista-stilista.html" >Mi presento</a ></li >
                        <li ><a class="{{what}}" href ="cosa-faccio-amalia-cardo-modellista-stilista-sarta.html" >Cosa faccio</a ></li >
                        <li><a class="{{mywork}}" href ="lavori-amalia-cardo.html" >I miei lavori</a ></li >
                        <li ><a class="{{contact}}" href ="contatta-amalia-cardo-modellista-stilista-sarta.html" >Contattami</a ></li >
        			</ul >
                </nav>
                <img class="logo" src="/images/logo.png" alt="logo Amalia cardo" />
            </div>
			{{> body }} 
        </div>


        <footer>
    		{{> footer }}
    	</footer>

        {{> cookielaw}}


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21612542-24"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-21612542-24');
        </script>
    </body>
</html>

